<h1>A propos</h1>
<p>
  <a href="http://www/">Ruby on Rails Tutorial</a>
  est un projet de e-learning pour apprendre le développement web
  avec <a href="http://www/">Ruby on Rails</a>. C'est l'Application agence de ce tutoriel.
</p>
